<div class="container">
    <div class="row">
        <div class="loginform col-lg-4 col-md-offset-4">
            <h2 class="text-center">Log in</h2>
            <button class="btn btn-block btn-twitter" ng-click="vm.authenticate('twitter')">
                <i class="fa fa-twitter"></i> Sign in with Twitter
            </button>
            <button class="btn btn-block btn-github" ng-click="vm.authenticate('github')">
                <i class="fa fa-github"></i> Sign in with GitHub
            </button>
            <div class="alert alert-dismissible alert-danger" ng-show="vm.message.length">
                <strong>Oh snap!</strong>
                <p>{{vm.message}}</p>
            </div>
        </div>
    </div>
</div>